html,
body {
    margin: 20px 0px;
    padding: 0;
    background-image: url("../img/bg4.png");
    display: block;
    min-height: auto;
    max-height: auto;
    min-width: auto;
    max-width: auto;
    background-repeat: repeat-y;
    background-size: 100%, 100%;
}

a{
  margin:8px;  
  padding:4px;
  display:block;
}
a.active{
  background-color:lightgrey;
  border-radius:4px;
  padding:4px;
}